.carousel-container {
  width: 600px;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: auto;
  scroll-snap-type: x mandatory;

  border: 5px solid red;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }

  .carousel {
    width: 1600px;
    margin: 0;
    padding: 0;
    display: inline-block;

    > * {
      list-style: none;
      float: left;
      box-sizing: border-box;
      
      scroll-snap-align: center;
      border: 1px solid black;
      height: 200px;
    }
  }
}
